HUGO ERNESTO CARDENAS ALCARAZ, 7447893, 7-11-2024

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
tab = pd.read_excel("datosCT.xlsx", sheet_name="8c").set_index("Unnamed: 0")
tab

,Tijuana,Mérida,GDL,México,León,Monterrey,Tapachula,Chihuahua
Unnamed: 0,,,,,,,,
Tijuana,0,4180,2306,2848,2529,2409,4005,1583
Mérida,4180,0,1874,1332,1719,2046,1062,2819
GDL,2306,1874,0,542,223,789,1699,1202
México,2848,1332,542,0,389,933,1157,1487
León,2529,1719,223,389,0,711,1544,1140
Monterrey,2409,2046,789,933,711,0,1803,826
Tapachula,4005,1062,1699,1157,1544,1803,0,2644
Chihuahua,1583,2819,1202,1487,1140,826,2644,0

In [154]:
def random_city():
    return np.random.choice(["Tijuana","Mérida","GDL","México","León","Monterrey","Tapachula","Chihuahua"],8,replace = False)
def distancia(a,b, tabla):    
    return tabla.loc[a,b]
def calc_dist(lista,tabla):
    d1 = distancia(lista[0],lista[1], tabla)
    d2 = distancia(lista[1],lista[2], tabla)
    d3 = distancia(lista[2],lista[3], tabla)
    d4 = distancia(lista[3],lista[4], tabla)
    d5 = distancia(lista[4],lista[5], tabla)
    d6 = distancia(lista[5],lista[6], tabla)
    d7 = distancia(lista[6],lista[7], tabla)
    d8 = distancia(lista[-1],lista[0], tabla)
    suma = d1 + d2 + d3 + d4 + d5 + d6 +d7 + d8
    return suma
def valor_p(d1,d2,T):
    return np.exp((d1-d2)/T)

In [223]:
T = 1000
R1 = random_city()
R1

array(['Monterrey', 'Tijuana', 'GDL', 'México', 'Mérida', 'Tapachula',
       'Chihuahua', 'León'], dtype='<U9')

In [225]:
def paso1(LISTA):
    R1 = LISTA
    R2 = R1.copy()
    a,b = np.random.choice([0,1,2,3,4,5,6,7],2,replace = False)
    cambio1 = R1[a]
    cambio2 = R1[b]
    R2[a] = cambio2
    R2[b] = cambio1
    distanciaR1 = calc_dist(R1,tab)
    distanciaR2 = calc_dist(R2,tab)
    p = np.random.rand()
    q = valor_p(distanciaR1,distanciaR2,T)
    if p < q : 
        R1 = R2.copy()
    return R1
PASO1 = paso1(R1)
R1

array(['Monterrey', 'Tijuana', 'GDL', 'México', 'Mérida', 'Tapachula',
       'Chihuahua', 'León'], dtype='<U9')

In [227]:
def paso2(R1,N):
    
    for i in range(N):
        R1 = paso1(R1)
    return R1
paso2(R1,1)

array(['GDL', 'Tijuana', 'Monterrey', 'México', 'Mérida', 'Tapachula',
       'Chihuahua', 'León'], dtype='<U9')

In [249]:
def paso3(T,N):
    R1 = random_city()
    while T > 1:
        for i in range(N):
            R1 = paso2(R1,N)
            T = T*0.9
    return R1
            
paso3(1000,30)

array(['México', 'Chihuahua', 'León', 'Tapachula', 'Mérida', 'GDL',
       'Monterrey', 'Tijuana'], dtype='<U9')

In [255]:
def paso4(T,M,N):
    A = []
    B = []
    m = 0
    while m < M:
        for i in range(N):
            R1 = paso3(T,N)
            dis = calc_dist(R1,tab)
            m +=1
            A.append(R1)
            B.append(dis)
    return A,B
        
        
paso4(1000,3,8)

([array(['México', 'Mérida', 'León', 'Tapachula', 'GDL', 'Tijuana',
         'Chihuahua', 'Monterrey'], dtype='<U9'),
  array(['Monterrey', 'León', 'GDL', 'Tapachula', 'Mérida', 'Chihuahua',
         'Tijuana', 'México'], dtype='<U9'),
  array(['Mérida', 'México', 'León', 'Chihuahua', 'GDL', 'Tijuana',
         'Monterrey', 'Tapachula'], dtype='<U9'),
  array(['Tijuana', 'Chihuahua', 'GDL', 'León', 'México', 'Monterrey',
         'Mérida', 'Tapachula'], dtype='<U9'),
  array(['México', 'GDL', 'Monterrey', 'Chihuahua', 'Tijuana', 'Mérida',
         'Tapachula', 'León'], dtype='<U9'),
  array(['Tapachula', 'México', 'GDL', 'Tijuana', 'Monterrey', 'Chihuahua',
         'León', 'Mérida'], dtype='<U9'),
  array(['Tapachula', 'León', 'México', 'Mérida', 'Tijuana', 'Chihuahua',
         'Monterrey', 'GDL'], dtype='<U9'),
  array(['Mérida', 'Tapachula', 'GDL', 'México', 'León', 'Chihuahua',
         'Tijuana', 'Monterrey'], dtype='<U9')],
 [11942, 11878, 11643, 11443, 10915, 11161, 12342, 10870])